# ms-certificados — variáveis de ambiente

PORT=8086

DB_HOST=localhost
DB_PORT=5432
DB_USER=seed_user
DB_PASSWORD=seed_pass
DB_NAME=seed_educa
DB_SSLMODE=disable

# MinIO
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=seed_minio_user
MINIO_SECRET_KEY=seed_minio_pass
MINIO_BUCKET=certificados

# Kafka
KAFKA_BROKERS=localhost:9092
KAFKA_TOPIC_INSCRICAO=inscricao_curso.concluida
KAFKA_GROUP_ID=ms-certificados
